.side-nav{
    width:0;
    display: flex;
    align-items:center;
    height:100%;
    font-size: 40px;
    position:relative;
    transition: width 0.5s ease;
    z-index: 100;
   
}
.side-nav.expanded{
  
    width:100%;
 
}
.toggle { /* toggle button styling */
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 5%;       
    height: 5%;      
    display: flex;     
    align-items: center; 
    justify-content: center; 
    background-color: #f1f1f1; 
    z-index: 100;
    transition: width 0.5s ease;
}


.side-nav.expanded .toggle{ /* position of button after nav open */
    left:93%;
   
}
.side-nav.collapsed .toggle{ /* position of button after nav closed */
    left:100%;
    margin-left:30px;
}
.nav-content{ 
    display:flex;
    flex-direction: column;
    align-items:center;
    transition: width 0.5s ease;
    border-width: 3px;
    background-color: rgb(217, 255, 0);
    height:100vh;
    transform: translateX(-100%);
    overflow: hidden;
}
.side-nav.expanded .nav-content{
    transform: translateX(0);
}

.side-nav ul{
    list-style-type: none; 
    padding: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap:20%;
}

.auth {
    margin-top: auto; 
    font-size: 30px;
  }
 
.sideTitle{
        margin-top: 10%;
        font-size:150%;


}